.skills{
	text-align: center;
}

.skills__subtitle{
	margin-top: 80px;
	font-weight: 500;
}
@media (max-width: 425px){
	.skills__subtitle{
		margin-top: 50px;
	}
}

.skills__list{
	display: flex;
	justify-content: center;
	gap: 80px;
	margin-top: 80px;
	flex-wrap: wrap;
}
@media (max-width: 425px){
	.skills__list{
		margin-top: 70px;
	}
}

.skills__item{
	width: 160px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.skills__image-box{
	width: min-content;
	margin: 0 auto;
}

.skills__caption{
	color: #828282;
	font-size: 14px;
	margin-top: 20px; 
}

.skills__rate-list{
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}